h1,
h4 {
  color: #22577a;
  font-weight: bold;
}

h2,
h3 {
  color: #38a3a5;
}

footer {
  margin: 50px 0 50px 0;
  text-align: center;
}

#celcius-link {
  font-size: 45px;
  text-decoration: none;
  color: #22577a;
}
#celcius-link:hover {
  text-decoration: underline;
}

#fahrenheit-link {
  font-size: 45px;
  text-decoration: none;
  color: #22577a;
}
#fahrenheit-link:hover {
  text-decoration: underline;
}

.input-group {
  margin: 40px 0;
  width: 400px;
}
.current-button {
  position: absolute;
  right: 40px;
  top: 65px;
}
.time {
  color: #22577a;
  position: absolute;
  right: 65px;
  top: 100px;
  font-size: 20px;
}

.updates {
  color: chocolate;
  font-weight: bold;
}

.details {
  font-weight: bold;
}

.temp {
  color: #57cc99;
}

.tomorrow-temp {
  font-weight: 500;
  color: chocolate;
  text-align: justify;
  margin: 0 0 0 30px;
}

.days {
  color: #80ed99;
}
.days:hover {
  color: azure;
}

.icon-size {
  width: 50px;
}

.card {
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center;
}

.card:hover {
  background: #22577a;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.main-icon {
  width: 200px;
  display: block;
  margin: 30px 0;
}

.main-temp {
  font-size: 60px;
  text-align: justify;
}

.main-small {
  font-size: 40px;
  color: chocolate;
}

.more-info {
  padding: 10px 50px;
  border: none;
  border-radius: 40px;
  color: #ffff;
  background: #0a58ca;
  margin-top: 20px;
  margin-bottom: 40px;
}

.more-info:hover {
  color: #ffff;
  background: #22577a;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.coder-name {
  color: #0a7dd9;
}
